body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* Head */
.head {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkstudio {
    display: none;
}

.address {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0 16px 0;
    display: inline-block;
}

.studio {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-icon {
    display: block;
    fill: #2f2f37;
}

/* ONE SECTION */
.zagolovok-one {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 216px;
    margin: 0 auto 72px;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .zagolovok-one {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        max-width: 496px;
        max-height: 120px;
        margin: 0 auto 72px;
        font-weight: 700;
        padding-bottom: 36px;
    }
}
@media screen and (min-width: 768px) {
    .zagolovok-one {
        padding-bottom: 48px;
    }
}

.button {
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

.section-one {
    margin: 0 auto;
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-image-mobile-x2.jpg);
    max-width: 320px;
    max-height: 432px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-image-tablet-x2.jpg);
        max-width: 768px;
        max-height: 436px;
        padding: 112px 0;
        
    }
}

@media screen and (min-width: 1158px) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-image-pc-x2.jpg);
        max-width: 1440px;
        max-height: 600px;
        padding: 188px 0;
    }
}

.section {
    padding: 96px 0;
}

/* SVG */
.box-section-one {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    display: none;
}

@media screen and (min-width: 1158px) {
    .box-section-one {
        display: flex;
    }
}
.links{
    margin-top: 48px;
}
.social-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-icons-list-mobile {
    display: flex;
    gap: 40px;
}
.adres-spisok-mobile{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.social-icons {
    width: 40px;
    height: 40px;
}

.spisoktwo {
    display: block;
    gap: 24px;
    padding: 0;
}

.spisokkontent{
    flex-basis: calc((100% - 72px) / 4);
    margin-bottom: 72px;
}
.spisokkontent:last-child{
    margin: 0;
}

/* TWO SECTION */

.section-two {
    padding: 96px 0;
}

.zagolovokh-three {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}
@media screen and (min-width: 1158px){
    .paragraph{
        font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
font-family: "Roboto", sans-serif;
    }
    .zagolovokh-three{
        font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
font-family: "Roboto", sans-serif;
    }
}
@media screen and (min-width: 768px) {
    .spisoktwo {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .paragraph {
        max-width: 356px;
    }

    .spisokkontent {
        flex-basis: calc((100% - 24px) / 2);
    }

    .zagolovokh-three {
        text-align: left;
    }
}

.paragraph {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
    font-weight: 500;
}

/* THREE SECTION */
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus,
.social-link:hover {
    background-color: #404bbf;
}

.icon {
    fill: #f4f4fd;
}

.section-three {
    padding: 96px 0;
    background-color: #f4f4fd;
}

.zagolovokh-two {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 0 72px;
    font-weight: 700;
}

.spisok-three {
    display: flex;
    row-gap: 72px;
    flex-wrap: wrap;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .spisok-three {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .spisok-three{
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
.spisoktwo{
    flex-wrap: nowrap;
}
.container-link-paragraph-footer{
    margin-right: 100px;
}
.container-social-links{
    margin-right: 30px;
    margin-bottom: 72px;
}
.input-form{
    opacity: 1;
    color: #fff;
    width: 288px;
}
.input-form::placeholder {
    opacity: 1;
    color: #fff;
}
}
@media screen and (min-width: 768px){
    .input-form{
    width: 264px;
}
}
@media screen and (min-width: 1158px){
    .input-form{
    width: 264px;
}
}
.teamcards {
    background-color: #ffffff;
    width: 264px;
    height: 428px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.add-class {
    text-align: center;
}

.forname {
    padding: 32px 0;
}

.paragraph-two {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.zagolovokh-three-section-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.box-section-three {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    width: 232px;
    height: 40px;
}

.icon-links {
    fill: #f4f4fd;
}

/* FOUR SECTION */
.section-four {
    padding-top: 96px;
    padding-bottom: 120px;
}

.spisok-four {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 0;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .spisok-four {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {}
.spisok-four{
    row-gap: 40px;
}
.spisok-kontent-fourth-section {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.spisok-kontent-fourth-section:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.spisok-kontent-fourth-section:hover p {
    transform: translateY(0%);
}

.container-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.paragraph-three {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.container-image {
    position: relative;
    overflow: hidden;
}

.paragraph-image {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */

.foot {
    background-color: #2e2f42;
    padding: 96px 0;
}

.studio-foot {
    color: #f4f4fd;
}

.paragraph-foot {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    width: 288px;
    font-weight: 400;
    font-size: 16px;
    max-width: 264px;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-paragraph {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
}

.footer-container {
    margin-bottom: 72px;
}

.social-icons-list-two {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.container-link-paragraph-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-form {
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;

    display: flex;
    font-family: 'Roboto', sans-serif;
    fill: #fff;


    
}

.paragraph-overlay {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .container-link-paragraph-footer {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .paragraph-overlay {
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .footer-paragraph {
        padding: 0;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
        padding: 0 108px;
    }

    .button-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
    }

}

@media screen and (min-width: 1158px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
        padding: 0 ;
    }
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    margin-bottom: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    padding: 0;
}

/* Overlay */

.label-form-overlay {
    gap: 24px;
}

.input-form {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    font-weight: 400;
    opacity: 0.3;
}

.input-form::placeholder {
    color: #ffffff;
    opacity: 0.3;
}

.form-label {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.svg-icon {
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .linkstudio {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .address {
        font-style: normal;
        display: block;
    }

    .silka-head {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #2e2f42;
        position: relative;
        padding-left: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .studios {
        color: #404bbf;
    }

    .studios::after {
        content: '';
        background-color: #404bbf;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 12px;
        top: 32px;
        bottom: -1px;
        border-radius: 2px;
    }

    .silka-adress:hover,
    .silka-adress:focus {
        color: #404bbf;
    }

    .adres-spisok {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .silka-adress {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .input-form {
        max-width: 264px;
    }
}
.zagolovok-one-mobile{
    padding-bottom: 40px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
}
.zagolovok-one-mobile:hover, .zagolovok-one-mobile:focus{
    color: #404bbf;
}
.silka-adress-mobile{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        font-style: normal;
}
.silka-adress-mobile:hover, .silka-adress-mobile:focus{
    color: #4d5ae5;
}
.silka-adress-mobile-number{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #4d5ae5;
        font-style: normal;
}
.social-link-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-mobile:focus,
.social-link-mobile:hover {
    background-color: #404bbf;
}

@media screen and (min-width: 1158px) {
    .adres-spisok {
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }

    .silka-adress {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    border-color: #ffffff;
}
.link-mobile{
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
}
.link-mobile:focus, .link-mobile:hover{
    color: #404bbf;
}
.link-mobile-studio{
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #4d5ae5;
}
.li-mobile{
    margin-bottom: 40px;
}

.mobile-menu {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* Overlay - menu*/

.modal-overlay-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 9px 16px 16px 8px;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
}
@media screen and (min-width: 768px){
    .modal-overlay-window{
        padding: 96px 180px 180px 338px;
    }
}
@media screen and (min-width: 1158px) {
.modal-overlay-window{
    padding: 80px 516px 516px 12px;
}
}
.modal-overlay-window.is-open{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.modal-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
@media screen and (min-width: 1158px){
    .modal-window{
        width: 408px;
    }
}
@media screen and (min-width: 768px){
    .modal-window{
        width:408px;
    }
}
.button-modal-window {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-window:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.button-modal-window:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover .icon-close:focus {
    fill: #ffffff;
}
.one{
    border-radius: 100%;
    opacity: 0.1;
}

.paragraph-modal-window {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-div {
    margin-bottom: 8px;
}

.label-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.div-container-modal {
    position: relative;
}

.input-user-name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-user-name:focus {
    border-color: #4d5ae5;
}

.man-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-user-name:focus+.man-icon {
    fill: #4d5ae5;
}

.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4d5ae5;
}

.div-checkbox {
    margin-bottom: 24px;
}

.label-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.link-privacy {
    color: #4d5ae5;
}

.button-send {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    min-width: 169px;
    width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-div-comment {
    margin-bottom: 16px;
}

.label-terms {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span-privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.checkbox-input:checked+.label-privacy .span-privacy {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.terms-link {
    color: #4d5ae5;
}